.container{
    background: lightgray;
    margin: 0 auto;
    padding: 10px;
    width: 830px;
}

.bar{
    position: relative;
    background: blue;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    color: white;
    height: 35px;
    line-height: 35px;
    padding-right: 10px;
}
